/* Hide scrollbar by default, show on scroll */
.custom-scrollbar-hide {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.custom-scrollbar-hide::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
.custom-scrollbar-hide:hover::-webkit-scrollbar {
  background: #e5e7eb; /* Tailwind gray-200 */
}
.custom-scrollbar-hide::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 8px;
}
.custom-scrollbar-hide:hover::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* Tailwind gray-300 */
} 